@import "ember-bootstrap/bootstrap"; 


.container-body {
	background-image: linear-gradient(to bottom right, black, rgb(247, 239, 239), #b6c3c5,  #49528e, white, black,);
}
.body-fx {
	width: 1080px; 
	margin-left: auto; 
	margin-right: auto; 
}

a {
	text-decoration: none;
} a:hover {
	text-decoration: none;
}

header {
	display: flex; 
	background-color: white; 
	padding: 4px; 
}
svg {
	display: none; 
}

#logo {	
	display: inline-flex; 
	width: 150px; 
	padding: 10px; 
}
#logo img {
	width: 100%; 
}
nav {
    width: 100%; 
    flex-grow: 1; 
    text-align: right; 
	padding-top: 68px; 
}
nav a {
	color:  #49528e; 
	font-size: 18px;
	margin: 0 0.25%; 
}
nav a:hover {
	color: black; 
}	

.headerBanner img {
	width: 100%; 

}

/* Tour Date Homepage */
#tour-date-home { 
	color: #464c8a;
	background-color: white;
}
#tour-date-home h1 {
	text-align: center; 
}
.sb-link {
	text-align: center; 
}

/* Tour Dates Shows Page   */ 
.purchase-entry {
	display: flex;
	width: 100%;
	background-color: white; 
}
.date-block  {
	background-color: #49528e;
	font-size: 9px;
	height: 59px; 
	line-height: 16px; 
	margin-left: 2px; 
	margin-right: 12px; 
	padding: 2px 6px; 
	text-align: center;
	text-transform: uppercase;
	width: 60px; 
	border-radius: 2px;

} .date-block a {
	color: white; 
    } 
    .date-block-num {
		font-family: "function_pro_bookbold", Arial, sans-serif;
		font-weight: bold;
	    font-size: 24px;
	    white-space: nowrap;
        padding: 1px;
        margin: 2px 0; 
    } 

.purchase-info {
	display: flex; 
	width: 100%;
}

.purchase-details {
	flex-grow: 1;
	vertical-align: top; 
	padding: 0 2px; 
}

.purchase-actions {
	flex-grow: 4;
	text-align: right;
	padding: 5px 40px;  
}

.block-entry-title {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}
.block-entry-title a:hover {
	color: #49528e; 
}
.ticket-btn { 
	background-color: #464c8a;
	margin-left: 12px; 
}
.ticket-btn:hover {
	background-color: #837676;
}
.ticket-btn-text  {
	color: white;
	font-size: 14px;
	text-transform: uppercase; 
}

.pcl-color {
	color:  #837676; 
}
.pcl-grey {
	color: darkgrey; 
} .pcl-grey:hover {
	color: #49528e; 
}

/* Latest News Section */ 
.container-latest-news h2 {
	color: #49528e;
	text-align: center;
}
.news-article {
	max-width: 300px; 
}
.news-article img {
	width: 100%; 
}

/* Newsletter Submission Home */  
.newsletter {
	width: 100%; 
	color: white;
	background-color: #464c8a;	
	text-align: center; 
}
.newsletterContent  {
	color: white;
	padding: 0 2.5%; 
}


/* Home about and featured stories */
.homeAbout {  
	background-image: linear-gradient( to right, purple,  #464c8a, black);
}
.homeAboutContent {
	color: white; 
}
.homeAboutImage {
	max-width: 400px; 
}
.homeAboutImage img {
	width: 100%; 
}

/* Media Section */ 
.container-media-page {
	width: 960px; 
	margin-left: auto;
	margin-right: auto; 
}
.media-article {
	max-width: 300px; 
}

/* Footer Section */ 
.container-footer {
	width: 100%; 
	background-color: darkgray;
}
.container-footer nav {
	text-align: center;
	color: white; 
}

/* Shows Page */ 
.container-shows {
	width: 960px;
	margin-left: auto;
	margin-right: auto; 
}

/* Band Story Page */ 
.band-page {
	width: 960px;
	margin-left: auto;
	margin-right: auto; 
}
.band-story {
	color: #49528e; 
	background-color: #e2dcc8;
	border: 2px solid lightgrey; 
}
.band-story img {
	float: left; 
	width: 300px; 
}
.band-history {
	flex: 1 100%; 
}
.band-history p {
	font-size: 16px; 
}
.story-link {
	color: blue;
	font-size: 18px; 
	font-weight: bold;
	text-decoration: underline; 
	text-decoration-style: solid;
}
.story-link:hover {
	color: darkgray; 
}

/* Contact Page */ 
.contact-page {
	width: 960px;
	margin: auto; 
	padding: auto; 
}
.contact-content {
	align-content: center;
}
.container-contact-form {
	width: 600px;
}

