@import "ember-bootstrap/bootstrap"; 

.container-app { 
	width: 960px; 
	margin-left: auto;
	margin-right: auto; 
}
a {
	text-decoration: none;
} a:hover {
	text-decoration: none;
}

header {
    display: flex; 
	border-bottom: 2px solid #49528e;
	margin-bottom: 4px; 
}
svg {
	display: none; 
}

#logo {	
	display: inline-flex; 
	width: 150px; 
	padding: 10px; 
}
#logo img {
	width: 100%; 
}
nav {
    width: 100%; 
    flex-grow: 1; 
    text-align: right; 
    padding-top: 68px; 
}
nav a {
	color:  #49528e; 
	font-size: 18px;
	margin: 0 0.25%; 
}
nav a:hover {
	color: black; 
}

.headerBanner {
	padding: 1px; 
}
.headerBanner img {
	width: 100%; 
}

/* Tour Date Homepage */
#tour-date-home {
	color: #464c8a;
	margin: 2px; 
}
#tour-date-home h1 {
	text-align: center;
	background-color: white;
	padding: 2px; 
}
.container-purchase-entry {
	background-color: lightgrey;
	border: 1px solid #49528e; 
	padding: 2px; 
	margin: 2px; 
}

/* Tour Dates Shows Page   */ 
.container-tour-dates {
	height: 500px; 
}
.bit-nav-bar-container {
	padding: 2px; 
	margin-bottom: 6px; 
}

.purchase-entry {
	display: flex;
	width: 100%;
	padding: 4px 4px; 
	background-color: white; 
	margin: 1px; 
}
.date-block  {
	background-color: #49528e;
	font-size: 10px;
	height: 59px; 
	line-height: 16px; 
	margin-left: 2px; 
	margin-right: 12px; 
	padding: 1px 6px; 
	text-align: center;
	text-transform: uppercase;
	width: 60px; 
	border-radius: 3px;

}   .date-block a {
	color: white; 
    } 
    .date-block-num {
		font-family: "function_pro_bookbold", Arial, sans-serif;
		font-weight: bold;
	    font-size: 24px;
	    white-space: nowrap;
        padding: 1px;
        margin: 2px 0; 
    } 

.purchase-info {
	display: flex; 
	width: 100%;
}

.purchase-details {
	flex-grow: 1;
	vertical-align: top; 
	padding: 0 2px; 
}

.purchase-actions {
	flex-grow: 4;
	text-align: right;
	padding: 5px 40px;  
}

.block-entry-title {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
}
.block-entry-title a:hover {
	color: #49528e; 
}
.ticket-btn { 
	background-color: #464c8a;
	margin-left: 12px; 
}
.ticket-btn:hover {
	background-color: #837676;
}
.ticket-btn-text  {
	color: white;
	font-size: 14px;
	text-transform: uppercase; 
}

.pcl-color {
	color:  #837676; 
}
.pcl-grey {
	color: darkgrey; 
} .pcl-grey:hover {
	color: #49528e; 
}

/* Latest News Section */ 
.news-article img {
	width: 100%; 
	max-width: 200px; 
}

/* Newsletter Submission Home */  
.newsletter {
	color: white;
	background-color: #464c8a;	
	text-align: center; 
}
.newsletterContent  {
	color: white;
	padding: 0 2.5%; 
}


/* HOme about and featured stories

.homeAbout {
	display: flex;
	flex-wrap: nowrap;  
	background-color: #464c8a;
	padding: 2.5% 12.5%;  
}
.homeAbout > div {
	width: 100%;
}
.homeAboutContent {
	color: white; 
	font-size: 32px;
	padding: 2.5% 0;  
}
.homeAboutImage  {
	padding: 0.5% 0%; 
}
.homeAboutImage img {
	width: 350px; 
	float: right; 
}
.homePress {
	height: 800px; 	
	text-align: center; 
	border: 2px solid #464c8a; 
	margin-top: 1% 0; 
}
.homePressContent {
	height: 400px;
}
.featuredStories {
	display: flex;
	flex-wrap: nowrap; 
	background-color: white;  
}
.featuredStories li {
	width: 100%; 
	height: 400px;
	text-decoration-style: none; 
	margin: 0 1%;
}
.fsImage {
	width: 100%; 
	height: 200px; 
}
.jBaseArticle1 {
	background-image: url('../images/jambase_jmb_melvin-seals.jpg'); 
}
.nyTimesArticle {
	background-image: url('../images/lmnr_jmb-w-hartswick.jpg'); 
}
.lMnRArticle {
	background-image: url('../images/gratefulweb_jmb_article.jpg'); 
}

.fsContent {
	width: 100%; 
	height: 100px; 
}
*/ 

/* Media Section */ 
container-media-page {
	padding: 10px; 
}

/* Footer Section */ 
.container-footer {
	background-color: darkgray;
}
.container-footer nav  {
	text-align: center;
	color: white; 
}

/* Band Story Page */ 
.band-story {
	width: 960px; 
	margin: auto; 
	padding: auto; 
	color: #49528e; 
	border: 2px solid lightgrey; 
}
.band-story img {
	float: left; 
	width: 300px; 
}
.band-history {
	flex: 1 100%; 
}

/* Contact Page */ 
.contact-page {
	width: 960px;
	margin: auto; 
	padding: auto; 
}
.contact-content {
	align-content: center;
}
.container-contact-form {
	width: 600px;
}

