@import "ember-bootstrap/bootstrap"; 

.container { 
	width: 960px; 
	margin-left: auto;
	margin-right: auto; 
}
a {
	text-decoration: none;
}

header {
    display: flex; 
	padding: 2px 2px; 
}
svg {
	display: none; 
}
#logo {	
	display: inline-flex; 
	width: 150px; 
	padding: 10px; 
}
#logo img {
	width: 100%; 
}
nav {
    width: 100%; 
    flex-grow: 1; 
    text-align: right; 
    padding-top: 68px; 
}
nav a {
	color:  #49528e; 
	font-size: 18px;
	margin: 0 0.25%; 
}
nav, button, a:hover {
	color: black; 
}

.headerBanner {
	padding: 1px; 
}
.headerBanner img {
	width: 100%; 
}

/*
.headerBannerContent {
	color: white;
	padding: 0 15%; 
	padding-bottom: 20%;
}
.headerBannerContent h1:first-child {
	text-transform: uppercase;
	font-size: 28px; 
}
.headerBannerContent h2:nth-child { 
	font-size: 20px; 
}
*/

/*
.headerBannerMemberSignUp {
	display: inline-block;
	width: 350px; 
	height: 350px; 
	border: 2px solid#464c8a; 
	border-radius: 10%; 
	background-color: black;
	color: white;
	margin: 5% 2%; 
}
.headerBannerMemberSignUp div:first-child {
	border-bottom: 2px solid purple;
	font-size: 18px;
	font-weight: bold; 
	text-align: center;   
}
.headerBannerMambermemberSignUp form
{
	background-color: black;
	color: white;
}
.headerBannerMemberForm input {
	width: 100%; 
}
.headerBannerMemberForm button
{
	width: 100%; 
	margin-top: 0.5%; 
	color: white;
	background-color: #9394a1;  
} 
*/

/* Tour Date Homepage */
#tour-date-home {
	display: block; 
	color: #464c8a;
}
#tour-date-home h1 {
	text-align: center;
	background-color: white;
	padding: 2px; 
}
.row {
	background-color: lightgrey;
	border: 1px solid #49528e; 
}
/* Tour Dates Shows Page///////////////////////////////////////////////////////// */ 

.purchase-entry {
	display: flex;
	width: 100%;
	padding: 4px 4px; 
	background-color: white; 
	margin: 2px; 
}

.date-block  {
	background-color: #49528e;
	font-size: 10px;
	height: 59px; 
	line-height: 16px; 
	margin-left: 2px; 
	margin-right: 12px; 
	padding: 1px 6px; 
	text-align: center;
	text-transform: uppercase;
	width: 60px; 
}   .date-block a {
	color: white; 
    } 
    .date-block-num {
	    font-family: "function_pro_bookbold", Arial, sans-serif;
	    font-size: 20px;
	    white-space: nowrap;
        padding: 2px;
        margin: 4px 0; 
    } @media only screen
        and (min-width: 768px) {
	    .date-block-num {
		    font-size: 42px; 
	    } 
    }

.purchase-info {
	display: flex; 
	width: 100%;
}

.purchase-details {
	flex-grow: 1;
	vertical-align: top; 
	padding: 2px 2px; 
}

.purchase-actions {
	flex-grow: 4;
	text-align: right;
	padding: 5px 40px;  
}
.ticket-btn { 
	background-color: #464c8a;
	margin-left: 12px; 
}
.ticket-btn:hover {
	background-color: #837676;
}
.ticket-btn-text  {
	color: white;
	font-size: 14px;
	text-transform: uppercase; 
}

.block-entry-title .pcl-color {
	color:  grey; 
}
.block-entry-title a:hover {
	color: #49528e; 
}

.pcl-purple {
	color: #464c8a; 
}

.upComingShows {
	color: white; 
	background-color: black;
	padding: 5% 0; 
}

.newsletter {
	color: white;
	background-color: #464c8a;	
	text-align: center; 
	padding: 5% 10%; 
}
.newsletterContent  {
	color: white;
	padding: 0 2.5%; 
}
.newsletter Form {
	display: flex; 
	flex-wrap: nowrap; 
	padding: 0.25% 15%; 
}
.newsletter Form input  {
	width: 100%; 
	padding: 0 0.25%; 
	margin: 0 0.25%; 
}
.newsletter Form button {
	padding: 0 0.25%; 
	margin: 0 0.25%; 
	text-align: center; 
}

/* HOme about and featured stories

.homeAbout {
	display: flex;
	flex-wrap: nowrap;  
	background-color: #464c8a;
	padding: 2.5% 12.5%;  
}
.homeAbout > div {
	width: 100%;
}
.homeAboutContent {
	color: white; 
	font-size: 32px;
	padding: 2.5% 0;  
}
.homeAboutImage  {
	padding: 0.5% 0%; 
}
.homeAboutImage img {
	width: 350px; 
	float: right; 
}
.homePress {
	height: 800px; 	
	text-align: center; 
	border: 2px solid #464c8a; 
	margin-top: 1% 0; 
}
.homePressContent {
	height: 400px;
}
.featuredStories {
	display: flex;
	flex-wrap: nowrap; 
	background-color: white;  
}
.featuredStories li {
	width: 100%; 
	height: 400px;
	text-decoration-style: none; 
	margin: 0 1%;
}
.fsImage {
	width: 100%; 
	height: 200px; 
}
.jBaseArticle1 {
	background-image: url('../images/jambase_jmb_melvin-seals.jpg'); 
}
.nyTimesArticle {
	background-image: url('../images/lmnr_jmb-w-hartswick.jpg'); 
}
.lMnRArticle {
	background-image: url('../images/gratefulweb_jmb_article.jpg'); 
}

.fsContent {
	width: 100%; 
	height: 100px; 
}
End of home about and featured stories */ 

/* Band Story Page */ 
.band-story {
	color: #49528e; 
	padding: 4px; 
}
.band-story img {
	display: inline-block; 
	width: 350px; 
	float: left; 
}
.band-history {
	display: inline-block; 
	padding: 4px; 
}


.footer {
	height: 100px; 
	background-color: black;
}

/* Media Queries */ 
@media only screen 
and (max-width: 800px) {
	body {
		margin: 0; 
		padding: 0 10%;
	}
	header svg {
		display: inline-block;
		padding-top: 7.5%; 
	}
	#logo {
		max-width: 59px;
		display: inline-block; 
		padding: 0.5%;
	}
	nav {
		display: none; 
	}
	.newsletter {
		display: inline-block;
		width: 100%; 
		text-align: left;
	}
	.newsletter form {
		width: 100%;
		text-align: left;
    }
}