<header class=" bg-light">
    <div class="navigation d-flex">
        <LinkTo @route="index" id="logo">
            <img src="assets/images/jmb-logo.png" alt="Joe Marcinek Band Logo" />
        </LinkTo>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
        <NavBar /> 
    </div>
</header>