<section class="media-section d-inline-flex justify-content-center p-.5 m-.5 bg-light"> 

    <div class="media border p-1 m-.5"> 
        <article class="media-article p-1 bg-white">
            <figure class="media-figure p-.5 bg-white">
                <a href="https://www.youtube.com/watch?v=jsQaBD4YQBA " title="Permalink to 12/7/17" alt="Jam by Joe Marcinek's Dead Funk Summit featuring Melvin Seals, Tony Hall, and Alan Evans 12/7/17 " /> 
                <img class="img-fluid mx-auto" src="/images/jmb-solo-admat.jpg" atl="JMB solo admat" />  

                <div class="p-.5">
                    <a>
                        <span>video</span>
                        <h5 class="pt-1">12/7/17 "Jam"</h5>
                    </a>
                </div>
            </figure>
        </article>
    </div> 

    <div class="media border p-1 m-.5">
        <article class="media-article p-1 bg-white">
            <figure class="media-figure p-.5 bg-white">
                <a href="https://www.youtube.com/watch?v=jsQaBD4YQBA " title="Permalink to 12/7/17" alt="Jam by Joe Marcinek's Dead Funk Summit featuring Melvin Seals, Tony Hall, and Alan Evans 12/7/17 " /> 
                <img class="img-fluid mx-auto" src="/images/jmb-solo-admat.jpg" atl="JMB solo admat" />  

                <div class="p-.5">
                    <a>
                        <span>video</span>
                        <h5 class="pt-1">12/7/17 "Jam"</h5>
                    </a>
                </div>
            </figure>
    
        </article>
    </div> 
    
    <div class="media border p-1 m-.5 ">
        <article class="media-article p-1 bg-white">
            <figure class="media-figure p-.5">
                <a href="https://www.youtube.com/watch?v=jsQaBD4YQBA " title="Permalink to 12/7/17" alt="Jam by Joe Marcinek's Dead Funk Summit featuring Melvin Seals, Tony Hall, and Alan Evans 12/7/17 " /> 
                <img class="img-fluid mx-auto" src="/images/jmb-solo-admat.jpg" atl="JMB solo admat" />  

                <div class="p-.5">
                    <a>
                        <span>video</span>
                        <h5 class="pt-1">12/7/17 "Jam"</h5>
                    </a>
                </div>
            </figure>
    
        </article>
    </div>

</section>