<section class="media-section"> 
    <div class="media"> 
        <article class="media-article">
            <figure>
                        
            </figure>
        
            <header>
                <a>
                    <div>video</div>
                    <h2></h2>
                </a>
            </header>
        </article>
    </div>
</section>