<nav class="menu">
  <div class="links">
      <LinkTo @route="index" class="menu-shows">
      Shows
    </LinkTo>
    <LinkTo @route="index" class="menu-media">
      Media
    </LinkTo>
    <LinkTo @route="index" class="menu-story">
      Story
    </LinkTo>
    <LinkTo @route="index" class="menu-merch">
        Merch
    </LinkTo>
    <LinkTo @route="index" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>