<nav class="menu">
  <div class="links">
      <LinkTo @route="shows" class="menu-shows">
      Shows
    </LinkTo>
    <LinkTo @route="media" class="menu-media">
      Media
    </LinkTo>
    <LinkTo @route="band" class="menu-story">
      Band
    </LinkTo>
    <LinkTo @route="index" class="menu-merch">
        Merch
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>