<div class="band-story p-2">
    <img class="p-4" src="/images/jmb-band.jpg" alt="Joe Marcinek Band Photo">
    <div class="band-history pt-4 p-2">
        <p>
            <span class="text-uppercase font-weight-bold font-italic">Joe Marcinek Band</span> is an experience you will never forget. 
            That is because each show features a different lineup of musicians creating a different set of 
            music every night. 

            The music is equal parts Chicago Blues, New Orleans Funk, 
            Grateful Dead Psychedelia, and Jazz Fusion!  
        </p>
        <p> 
            Joe Marcinek tours nationally from New York to LA and everywhere in between. 
            Most of the lineups will only happen one time making every night a can't miss show.
            The group has featured many prominent special guests including Bernie Worrell 
            (P-Funk, Talking Heads), Melvin Seals (Jerry Garcia Band),  George Porter JR (The Meters),  
            Ivan Neville (Dumpstaphunk), Alan Evans (Soulive),  Kris Myers (Umphrey's McGee), Tony Hall 
            (Dumpstaphunk, Dave Mathews & Friends), Shaun Martin (Snarky Puppy, Kirk Franklin), 
            Allen Aucoin (the Disco Biscuits), Marty Sammon (Buddy Guy), Jason Hann (String Cheese Incident / EOTO), Erik "Jesus" Coomes (Lettuce), 
            Borahm Lee (Break Science), Jennifer Hartswick and Natalie Cressman (Trey Anastasio Band), 
            Mike Greenfield (Lotus), Borham Lee (Break Science), Steve Molitz (Phil Lesh & Friends / Particle) Joey Porter (The Motet / Juno What), 
            Fareed Haque, Scott Metzger, Nate Werth (Snarky Puppy) Garrett Sayers (The Motet) Allie Kral (Yonder Mountain String Band), 
            Freekbass, Vinnie Amico and Jim Loughlin (moe.) and more! To see a complete list, please head over to our <a class=""><span class="story-link d-inline-block">Artist Page </span></a>. 
        </p>
        <p> 
            “For being a band built primarily on improvisations with guest artists at each event, 
            this studio album is very well put together. 
            
            Lead guitarist Joe Marcinek is actually the keyboardist in the band Fresh Hops, 
            so now turning over to the guitar he has proved himself to be a very dynamic and well-rounded musician.”
            <br /> <span class="font-weight-bold font-italic pt-1"> Lacy Bursick - Drive In Magazine </span> 
        </p>
        <p>
            “Joe Marcinek wrote all the material on the Joe Marcinek Band’s debut, Both Sides, 
            but there’s plenty of room in the spotlight for the other five musicians to share 
            with the guitarist. 
            Marcinek’s ability to explore various moods on these long-form jazz instrumentals 
            is particularly augmented by violinist Stephan Cook on the energetic “Happy Lettuce.” 
            “Set You Free” features Marcinek’s seductive guitar playing and some fluid keyboard work 
            from the singularly-named Waz.”
            <br /> <span class="font-weight-bold font-italic pt-1"> Terrence Flamm - Illinois Entertainer </span>
        </p>
        <p>
            “Sunday was featured warm performances by MathGames!, Umphrey’s McGee, 
            North Mississippi All-stars, Moe., The Coop, Spread, Tar Mahal Trio, Afternoon Moon, 
            Van Ghost and local Chicago favorite Zmick. Lettuce brought their East Coast funk in full force and delivered strong to the sopping crowd. 
            Also performing Sunday was the Joe Marcinek Band, a late addition to the Summer Camp line-up. JMB left the crowd sweaty, loose, and ready for more. 
            If you get a chance to see these guys, take advantage of it.”
            <br /> <span class="font-weight-bold font-italic pt-1"> Michael Morgan - Music Festival Central </span>
        </p>
        <p>
            “The writing and the performances are top shelf. The audio quality rivals the best that major labels and major artists are releasing. 
            Personal favorites from the CD include opening cut “60 Degrees (In January),” “Thundersnow,” and title track, “Both Sides.” Tom Lounges - the Times
            “Joe Marcinek is releasing his new CD Both Sides on December 7th at Amore in Crown Point, Indiana. The guitarist studied at Indiana State University 
            and it shows! The record borrows elements from a number of popular styles like jazz, rock and jambands. All forms improvisational but drawn together 
            by great arrangements and just enough technical flash. The first half of the batch is really superb and offers something truly unique in the 
            northwest Indiana music scene. ”
            <br /> <span class="font-weight-bold font-italic pt-1"> Michael Finney - speakercone.net</span>
        </p>
        <p>
            “The most recent incarnation of The Joe Marcinek Band featured a seven piece ensemble including Joe (Guitar), Buddy Pearson (Bass), Waz (Keys), 
            Pete Koopmans (Drums), Paul Abella (Percussion), Stephan Cook (Violin), and Adam Turman (Sax). JMB had a decisively heavier jazz influence than any of the other three acts on the bill. 
            Buddy Pearson is a whiz on the 6-string bass playing a Victor Wooten style thumb upstroke, complemented with a facial expression that can be politely described as a jazz o-face. 
            “Sun God” showcased a piano laden crescendo with a driving inertia that keeps your feet constantly tapping. The band expertly played an instrumental version of Stevie Wonder’s 
            “Living For The City” which roused the crowd.”
            <br /> <span class="font-weight-bold font-italic pt-1">  Dave Weckstein - The Barn Presents </span>
        </p>
        <p>
            “The perfectly paced jazz-funk tunes pop up in a few spots on Both Sides. 
            First off, there’s the title track, which in a fair world would be getting airplay on jazz radio stations throughout the country and would turn Joe into a minor celebrity. 
            Marcinek shows a lot of depth for a player his age––he knows how to get a lot out of a solo. He’s got a jazz guy’s harmonic smarts, 
            a rock guy’s knack for tension and release and a funk player’s sense of pocket.”
            Paul Abella - Chicago Jazz Magazine “If you’re a Chicago music fan who just can’t get enough of that sweet spot where rock meets jazz, 
            Joe Marcinek is a name that comes up quite a bit. Not content to be just a double threat — 
            laying down both guitar and keys in the Indiana-based jazz-fusion quartet Fresh Hops — he’s branched out again and again to take his multi-instrumental talents to other projects as well, 
            a formidable musical menace. While it’s no surprise to see him pop up around Chicago with the ultra-busy Hops, he’s equally likely to make contributions to special projects or jams. 
            Add to all that, the task of fronting his own band, assembled from a rotating roster of the Chicago area’s most rock inclined jazz musicians and jazz-inclined rockers.”
            <br /> <span class="font-weight-bold font-italic pt-1"> Steve Siegel - The Barn Presents </span>
        </p>
    </div>
</div>