<BsButton @type="secondary" class="ticket-btn">
    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
        <span class="ticket-btn-text"> tickets </span>
    </a>
</BsButton>