<section id="tour-date-home" p-2 class="bit-widget-container">
    <h1>Tour Dates </h1>

    <div class="bit-event-lists container-purchase-entry">

        <article class="bit-events-container purchase-entry">
            <div class="date-block bit-date "> 
                <a class="bit-details" href="https://www.bandsintown.com/e/102112694?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                    tue, mar
                    <div class="date-block-num">
                        <span>3 </span>
                    </div>
                    2020 
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/102112694?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                            House of Blues Chicago 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Chicago, IL                        
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/102112694-joe-marcinek-band-at-house-of-blues-chicago?came_from=242&utm_medium=web&utm_source=artist_page&utm_campaign=ticket_rsvp">
                        details
                    </a> 
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/102112694-joe-marcinek-band-at-house-of-blues-chicago?came_from=242&utm_medium=web&utm_source=artist_page&utm_campaign=ticket_rsvp"> 
                        <TicketBtn>
                        </TicketBtn>
                    </a>
                </div>                
            </div>
        </article> 

        <article class="bit-events-container purchase-entry">
            <div class="date-block bit-date "> 
                <a class="bit-details" href="https://www.bandsintown.com/e/102112696?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                    fri, Mar 
                    <div class="date-block-num">
                        <span>6 </span>
                    </div>
                    2020 
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/102112696?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                            3 Sheep's Brewing Company 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Shibuygan, WI                        
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/102112696?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        details
                    </a> 
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/102112696?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                        <TicketBtn>
                        </TicketBtn>
                    </a>
                </div>                
            </div>
        </article>

        <article class="bit-events-container purchase-entry">
            <div class="date-block bit-date "> 
                <a class="bit-details" href="https://www.bandsintown.com/e/102112698?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                    sat, mar 
                    <div class="date-block-num">
                        <span>7 </span>
                    </div>
                    2020 
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/102112698?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget "> 
                            Brown Baer 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Elkhart Lake, WI                        
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/102112698?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        details
                    </a> 
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/102112698?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                        <TicketBtn>
                        </TicketBtn>
                    </a>
                </div>                
            </div>
        </article>

        <article class="bit-events-container purchase-entry">
            <div class="date-block bit-date "> 
                <a class="bit-details" href="https://www.bandsintown.com/e/102112708?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                    thu, Mar 
                    <div class="date-block-num">
                        <span>12 </span>
                    </div>
                    2020 
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color" href="https://www.bandsintown.com/e/102112708?affilnekbband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget "> 
                            Starland Yard 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Savannah, GA                        
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/102112698?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        details
                    </a> 
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/102112708?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        <TicketBtn></TicketBtn>
                    </a>
                </div>                
            </div>
        </article>

        <article class="bit-events-container purchase-entry">
            <div class="date-block bit-date "> 
                <a class="bit-details" href="https://www.bandsintown.com/e/102112706?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                    fri, mar
                    <div class="date-block-num">
                        <span>13 </span>
                    </div>
                    2020 
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color" href="https://www.bandsintown.com/e/102112706?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget"> 
                            Steady Hand Beer Co. 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Atlanta, GA                        
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/102112706?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        details
                    </a> 
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/102112706?affil_code=js_www-joemarcinekband-com.filesusr.com&app_id=js_www-joemarcinekband-com.filesusr.com&came_from=242&trigger=notify_me&utm_campaign=notify_me&utm_medium=web&utm_source=widget">
                        <TicketBtn></TicketBtn>
                    </a>
                </div>                
            </div>
        </article>

    </div> 

    <div class="sb-link p-2 m-2"> 
        <LinkTo @route="shows" class="button rounded align-center border bg-white p-2"> 
        Click to view full Shows Page
        </LinkTo>
    </div>
</section> 