<div id="tour-dates" class="bit-widget-container">
    <h1>Tour Dates</h1>
    <div>
        <div class="bit-widget bit-layout-ipad ">
            <!--<a class="bit-top-track-button" href="https://www.bandsintown.com/a/2797940?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=track&amp;utm_campaign=track&amp;utm_medium=web&amp;utm_source=widget">
                <span>Track</span> 
                to get concert and tour updates.
            </a>-->
        </div> 
        <div class="bit-nav-bar-container">
            <div class="bit-nav-bar">
                <button> 
                    <a>
                        <span class="bit-event-list-title bit-show-upcoming ">
                            Upcoming Dates
                        </span>
                    </a>
                </button>
                <button> 
                    <a>
                        <span class="bit-event-list-title bit-show-past bit-clickable">
                            Past Dates
                        </span>
                    </a>
                </button>
            </div>  
        </div>
        <div class="bit-event-lists row">
            <div class="bit-events-container purchase-entry">
                <div class="purchase-info bit-upcoming-events"> 
                    <div class="date-block bit-date"> 
                        <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                            fri, Feb
                            <div class="date-block-num">
                                24
                            </div>
                            2020
                        </a>
                    </div>
                    <div class="purchase-details">
                        <div class="block-entry-title" >
                            <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                                Brauer House 
                            </a>
                        </div>
                        <div class="purchase-show-location bit-location pcl-grey">
                            Lombard, IL
                            <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"></a>
                        </div>
                    </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                        details
                    </a>
                    <a class="bit-details pcl-white" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                        tickets
                    </a>
                </div>                
            </div>
                <!-- JOe's current tickets ection --> 
                <!--
                <div class="bit-upcoming-events-container">
                    <div class="bit-upcoming-events">
                        <div class="bit-event">
                            <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                                <div class="bit-date">
                                        Fri, JAN 24
                                </div>
                            </a>
                            <div class="bit-venue">
                                Brauer House
                            </div>
                            <div class="bit-location">
                                Lombard, IL
                            </div>
                        -->
                            <!-- RSVP --> 
                            <!--
                            <div class="bit-details bit-event-buttons">
                                <div class="bit-rsvp-container">
                                    <a class="bit-rsvp bit-button" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=rsvp_going&amp;utm_campaign=rsvp&amp;utm_medium=web&amp;utm_source=widget" target="_blank" aria-label="RSVP">
                                        RSVP
                                    </a>
                                </div>
                            </div>
                            <div class="bit-offers-container">
                                <a class="bit-offers bit-button" rel="nofollow" target="_blank" href="https://www.bandsintown.com/t/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=ticket&amp;utm_medium=web&amp;utm_source=widget" aria-label="Tickets">
                                    <span class="bit-offers-text">
                                        Tickets
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div> End of Joe's crrent tickets section --> 

            </div> 
            <!-- End of Puchase Entry --> 
            <!-- Purchase Entry --> 
        </div>
    </div>
</div>
                    
                            
                        
                         
                                
                                
                      
    



       
            