<div id="tour-dates" class="bit-widget-container">
    <h1>Tour Dates</h1>
    <div>
        <div class="bit-widget bit-layout-ipad ">
            <a class="bit-top-track-button" href="https://www.bandsintown.com/a/2797940?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=track&amp;utm_campaign=track&amp;utm_medium=web&amp;utm_source=widget">
                <span>Track</span> 
                to get concert and tour updates.
            </a>
        </div> 
        <div class="bit-nav-bar-container">
            <div class="bit-nav-bar">
                <span class="bit-event-list-title bit-show-upcoming ">
                    Upcoming Dates
                </span>
                <span class="bit-event-list-title bit-show-past bit-clickable">
                    Past Dates
                </span>
            </div> 
            <div class="bit-logo-container">
                <div class="bit-logo">
                    <a class="bit-logo-link" href="https://www.bandsintown.com/a/2797940?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=artist&amp;utm_medium=web&amp;utm_source=widget" target="_blank" class="bit-logo-link">
                    </a>
                </div>
            </div> 
        </div>
        <div class="bit-event-lists">
            <div class="bit-events-container">
                <div class="bit-upcoming-events-container">
                    <div class="bit-upcoming-events">
                        <div class="bit-events">
        <a class="bit-details" href="https://www.bandsintown.com/e/1018692010?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
            <div>
                <span class="bit-date">Fri, FEB 7</span>
            </div>
            <div class="bit-venue">
                Dexters New Standard Winter Park
            </div>
            <div class="bit-location">
                Winter Park, FL
            </div>
        </a>
        <div class="bit-details bit-event-buttons">
            <div class="bit-rsvp-container">
                <a class="bit-rsvp bit-button" href="https://www.bandsintown.com/e/1018692010?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=rsvp_going&amp;utm_campaign=rsvp&amp;utm_medium=web&amp;utm_source=widget" target="_blank" aria-label="RSVP">
                    RSVP
                </a>
            </div>
            <div class="bit-offers-container">
                <a class="bit-offers bit-button" rel="nofollow" target="_blank" href="https://www.bandsintown.com/t/1018692010?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=ticket&amp;utm_medium=web&amp;utm_source=widget" aria-label="Tickets">
                    <span class="bit-offers-text">Tickets</span>
                </a>
            </div>
        </div>
                        </div>
                        <div class="bit-event">
        <a class="bit-details" href="https://www.bandsintown.com/e/1018692405?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
            <div>
                <span class="bit-date">
                    Sat, FEB 8
                </span>
            </div>
            <div class="bit-venue">Dexters New Standard Winter Park</div>
            <div class="bit-location">Winter Park, FL</div>
        </a>
        <div class="bit-details bit-event-buttons">
            <div class="bit-rsvp-container">
                <a class="bit-rsvp bit-button" href="https://www.bandsintown.com/e/1018692405?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=rsvp_going&amp;utm_campaign=rsvp&amp;utm_medium=web&amp;utm_source=widget" target="_blank" aria-label="RSVP">RSVP</a>
            </div>
            <div class="bit-offers-container">
                <a class="bit-offers bit-button" rel="nofollow" target="_blank" href="https://www.bandsintown.com/t/1018692405?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=ticket&amp;utm_medium=web&amp;utm_source=widget" aria-label="Tickets">
                    <span class="bit-offers-text">Tickets</span>
                </a>
            </div>
        </div>
                        </div>
                        <div class="bit-event">
        <a class="bit-details" href="https://www.bandsintown.com/e/1018781517?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
            <div>
                <span class="bit-date">
                    Thu, MAR 26
                </span>
            </div>
            <div class="bit-venue">Fox Theatre</ div>
            <div class="bit-location">Boulder, CO</div>
        </a>
        <div class="bit-details bit-event-buttons">
            <div class="bit-rsvp-container">
            <a class="bit-rsvp bit-button" href="https://www.bandsintown.com/e/1018781517?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;trigger=rsvp_going&amp;utm_campaign=rsvp&amp;utm_medium=web&amp;utm_source=widget" target="_blank" aria-label="RSVP">
                RSVP
            </a>
            </div>
            <div class="bit-offers-container">
                <a class="bit-offers bit-button" rel="nofollow" target="_blank" href="https://www.bandsintown.com/t/1018781517?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=ticket&amp;utm_medium=web&amp;utm_source=widget" aria-label="Tickets">
                    <span class="bit-offers-text">Tickets</span>
                </a>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

       

    
                



<!--
<div class="row">
	<h2 class="c1-12 h1 tour-title-header" data-band="mike-gordon">
        <a href="https://phish.com/tours/mike-gordon-winter-2020/">
            Mike Gordon Winter 2020
        </a>
    </h2>
	<div class="c1-12 box pad-1x" data-band="mike-gordon">
    <div class="purchase-entry clearfix p2">
	    <div class="purchase-info">
		    <div class="date-block">
			<a href="https://phish.com/tours/dates/01-17-19-ithaca-ny/" title="Permalink to Fri, 2020-1-17 State Theatre of Ithaca" rel="bookmark">
				Jan				
                <div class="date-block-num">
                    17
                </div>
				2020			
            </a>
		</div>
    </div>

    <div class="purchase-details">
		<div class="block-entry-title"><a href="https://phish.com/tours/dates/01-17-19-ithaca-ny/" title="Permalink to Fri, 2020-1-17 State Theatre of Ithaca" rel="bookmark">State Theatre of Ithaca</a></div>
		    <div class="purchase-show-location">Ithaca, NY</div>
		</div>
	</div>
    <div class="purchase-actions">
		<ul class="show-extras">
		</ul>
		<a class="purchase-action-link" href="https://phish.com/tours/dates/01-17-19-ithaca-ny/" title="Permalink to Fri, 2020-1-17 State Theatre of Ithaca" rel="bookmark">details</a>		
	</div>
</div>
--> 



