<div id="tour-date-home" class="bit-widget-container">
    <h1>Tour Dates </h1>
    <div class="bit-event-lists container-purchase-entry">
        <div class="bit-events-container purchase-entry">
            <div class="date-block bit-date"> 
                <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                    <span>fri, Feb </span>
                    <div class="date-block-num">
                        <span>24 </span>
                    </div>
                    <spoan>2020 </spoan>
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                            Brauer House 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Lombard, IL
                        <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
                        </a>
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
                        details
                    </a>
                    <TicketBtn></TicketBtn>
                </div>                
            </div>
        </div> 

        <div class="bit-events-container purchase-entry">
            <div class="date-block bit-date"> 
                <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                    <span>fri, Feb </span>
                    <div class="date-block-num">
                        <span>24 </span>
                    </div>
                    <spoan>2020 </spoan>
                </a>
            </div>
            <div class="purchase-info bit-upcoming-events"> 
                <div class="purchase-details">
                    <div class="block-entry-title">
                        <a class="bit-details pcl-color"  href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank"> 
                            Brauer House 
                        </a>
                    </div>
                    <div class="purchase-show-location bit-location pcl-grey">
                        Lombard, IL
                        <a class="bit-details" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
                        </a>
                    </div>
                </div>
                <div class="purchase-actions bit-offer-container">
                    <a class="bit-details pcl-grey" href="https://www.bandsintown.com/e/1018084767?affil_code=js_www-joemarcinekband-com.filesusr.com&amp;app_id=js_www-joemarcinekband-com.filesusr.com&amp;came_from=242&amp;utm_campaign=event&amp;utm_medium=web&amp;utm_source=widget" target="_blank">
                        details
                    </a>
                    <TicketBtn></TicketBtn>
                </div>                
            </div>
        </div> 
    </div> 
</div> 