<section class="contact-page p-12">
    <h1>Contact Us</h1>

    <div class="contact-content bg-light  p-10"> 
    <div class="p-6">
        <p class="border-bottom border-white p-2 ">
            Thank you for taking the time to contact us, we love hearing from our fans  
        </p>

        <article Class="border  p-2">
            <ContactForm></ContactForm>
        </article>
    </div>
    </div>
</section>