<main>
    <section class="headerBanner"> 
        <img src="/images/jmb-header-banner.png" alt="Example Umphree's Banner" /> 
    </section>

    <TourDateHome></TourDateHome>

    <section class="container-latest-news d-flex bg-light p-4">
        <div class="latest-news d-flex justify-content-center p-2"> 
            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                <figure class="article-image"> 
                    <a href="https://livemusicnewsandreview.com/2015/02/joe-marcinek-band-hit-road-special-guest-jennifer-hartswick/ "> 
                        <img class="w-full rounded" src="/images/lmnr-jmb-w-hartswick.jpg" alt="JMB live for live music with Jennifer Hartswick" /> 
                    </a>
                </figure>
                <span> February 11, 2015 <br /> </span>
                <header>
                    <p class="pt-2">
                        Joe Marcinek Hit's The road with 
                        Special Guest Jennifer Hartswick
                    </p>
                </header>
                </article>
            </div>

            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                <figure class="article-image"> 
                    <a href="https://livemusicnewsandreview.com/2015/02/joe-marcinek-band-hit-road-special-guest-jennifer-hartswick/ "> 
                        <img class=" w-full rounded " src="/images/lmnr-jmb-w-hartswick.jpg" alt="JMB live for live music with Jennifer Hartswick" /> 
                    </a>
                </figure>
                <span> February 11, 2015 <br /> </span>
                <header>
                    <p class="pt-2">
                        Joe Marcinek Hit's The road with 
                        Special Guest Jennifer Hartswick
                    </p>
                </header>
                </article>
            </div>

            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                <figure class="article-image"> 
                    <a href="https://livemusicnewsandreview.com/2015/02/joe-marcinek-band-hit-road-special-guest-jennifer-hartswick/ "> 
                        <img class="w-full float-center rounded" src="/images/lmnr-jmb-w-hartswick.jpg" alt="JMB live for live music with Jennifer Hartswick" /> 
                    </a>
                </figure>
                <span> February 11, 2015 <br /> </span>
                <header>
                    <p class="pt-2">
                        Joe Marcinek Hit's The road with 
                        Special Guest Jennifer Hartswick
                    </p>
                </header>
                </article>
            </div>
        </div>
    </section>

    <section class="newsletter p-4">
        <div class="newsletterContent p-2"> 
            <h1> Want some inside Funk secrets? </h1>
            <p>
                Join thousands of growing Funk Fans just like you who love more news and updates!
            </p>
        </div>
        <div class="newsletter-submit w-full "> 
            <BsForm class="d-inline-flex p-2 " @formLayout="vertical" @model={{this}} as |form| > 
                <form.element class="p-2 w-full" @controlType="email" @placeholder="Email" @property="email" @required={{true}} /> 
                <div class="p-2 w-full ">
                    <BsButton @block={{true}}>
                        Submit
                    </BsButton>
                </div>
            </BsForm>
        </div>
    </section>
</main>      
