<main>
    <section class="headerBanner"> 
        <img src="/images/umphrees-example.jpg" alt="Example Umphree's Banner" /> 
    </section>

    <TourDateHome></TourDateHome>

    <section class="container-latest-news">
        <div class="latest-news"> 
            <article class="news-article"> 
                <a class="logo" href="https://liveforlivemusic.com" /> 
            </article>
            <article class="news-article"> 
                <a class="logo" href="https://liveforlivemusic.com" /> 
            </article>
            <article class="news-article"> 
            </article>
        </div>
    </section>

    <section class="newsletter">
        <div class="newsletterContent"> 
            <h1> Want some inside Funk secrets? </h1>
            <p>
                Join thousands of growing Funk Fans just like you who love more news and updates!
            </p>
        </div>
        <BsButton 
            @type="primary"
            @icon="glyphicon glyphicon-download"> 
            Submit
        </BsButton>
    </section>
</main>      
