<main class="main-section">
    <section class="headerBanner"> 
        <img src="assets/images/jmb-header-banner.png" alt="JMB's list of shows header" /> 
    </section>

    <section class="main-content row p-2">
        <div class="w-full col-8"> 
            <TourDateHome></TourDateHome>

            <section class="homeAbout d-flex p-2">
        <div class="homeAboutContent p-4 m-4"> 
            <p class="text-weight-bold text-uppercase p-10">
                JMB is an ever evolving mixture of original 
                compositions and incredible musicians. Each 
                show has a slightly different lineup 
                and interpretation.
            </p>
        </div>
        <div class="homeAboutImage p-2"> 
            <img src="/assets/images/slinkcoverart.jpg" alt="Slinks first album cover art" />
        </div>
            </section>

            <section class="featured-stories  w-full border bg-light p-2 ">
                <h2 class="p-2">Featured Stories</h2>
                <div class="press-news d-flex justify-content-center p-2"> 

                <div class="press-story d-flex-row border border-black p-1 m-1"> 
                    <article class="fs-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://musicfestnews.com/2019/11/joe-marcinek-dead-funk-summit-album-tour-jam-cruise-more/"> 
                            <img class="rounded" src="assets/images/jmb-musicfest-11-14-19.jpg" alt="JMB Funk Summit and JamCruise article " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> February 14, 2019 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek: Dead Funk Summit Album, 
                            Tour, Jam Cruise & More!
                        </h5>
                    </div>
                    </article>
                </div>

                <div class="press-story d-flex-row border border-black p-1 m-1"> 
                    <article class="fs-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://liveforlivemusic.com/features/joe-marcinek-jm3/"> 
                            <img class="rounded " src="assets/images/jmb-lflv-11-19-18.png" alt="JMB live for live music JM3 release article " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> February 19, 2018 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek’s New Organ Trio Album, 
                            ‘JM3’, Takes Listeners On Jazzy Musical Ride [Listen]
                        </h5>
                    </div>
                    </article>
                </div>

                <div class="press-story d-flex-row border border-black p-1 m-1"> 
                    <article class="fs-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://www.jambase.com/article/joe-marcinek-teams-george-porter-jr-melvin-seals-eric-imbrosciano-dead-funk-summit"> 
                            <img class="rounded" src="assets/images/jmb-jambase-6-11-18.jpg" alt=" JMB with George Porter and Melvin Seals at the Dead Funk Summit " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> June 11, 2018 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek Teams With George Porter Jr., 
                            Melvin Seals & Eric Imbrosciano For ‘Dead Funk Summit’
                        </h5>
                    </div>
                    </article>
                </div>

                </div>
            </section>
        </div>

        <div class="container-latest-news w-full col-4 border bg-info"> 
            <LatestNews></LatestNews>
        </div>

    </section>
</main> 


