<main class="main-section p-2">
    <section class="headerBanner"> 
        <img src="assets/images/jmb-header-banner.png" alt="JMB's list of shows header" /> 
    </section>

    <TourDateHome></TourDateHome>

    <section class="homeAbout d-flex p-4 my-4">
        <div class="homeAboutContent p-4 m-4"> 
            <p class="text-weight-bold text-uppercase p-10">
                JMB is an ever evolving mixture of original 
                compositions and incredible musicians. Each 
                show has a slightly different lineup 
                and interpretation.
            </p>
        </div>
        <div class="homeAboutImage p-2"> 
            <img src="/images/slinkcoverart.jpg" alt="Slinks first album cover art" />
        </div>
    </section>

    <section class="container-latest-news border bg-light p-2 m-4">
        <h2 class="p-2">Featured Stories</h2>
        <div class="latest-news d-flex justify-content-center p-1"> 

            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://musicfestnews.com/2019/11/joe-marcinek-dead-funk-summit-album-tour-jam-cruise-more/"> 
                            <img class="rounded" src="assets/images/jmb-musicfest-11-14-19.jpg" alt="JMB Funk Summit and JamCruise article " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> February 14, 2019 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek: Dead Funk Summit Album, 
                            Tour, Jam Cruise & More!
                        </h5>
                    </div>
                </article>
            </div>

            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://liveforlivemusic.com/features/joe-marcinek-jm3/"> 
                            <img class="rounded " src="assets/images/jmb-lflv-11-19-18.png" alt="JMB live for live music JM3 release article " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> February 19, 2018 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek’s New Organ Trio Album, 
                            ‘JM3’, Takes Listeners On Jazzy Musical Ride [Listen]
                        </h5>
                    </div>
                </article>
            </div>

            <div class="latest-news-article d-flex-row border border-black m-1"> 
                <article class="news-article bg-white p-2"> 
                    <figure class="article-image"> 
                        <a href="https://www.jambase.com/article/joe-marcinek-teams-george-porter-jr-melvin-seals-eric-imbrosciano-dead-funk-summit"> 
                            <img class="rounded" src="assets/images/jmb-jambase-6-11-18.jpg" alt=" JMB with George Porter and Melvin Seals at the Dead Funk Summit " /> 
                        </a>
                    </figure>
                    <div class="p-2">
                        <span> June 11, 2018 <br /> </span>
                        <h5 class="pt-1">
                            Joe Marcinek Teams With George Porter Jr., 
                            Melvin Seals & Eric Imbrosciano For ‘Dead Funk Summit’
                        </h5>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main> 

<section id="newsletter" class="newsletter p-2 ">
    <div class="newsletterContent p-1"> 
        <h1> Want some inside Funk secrets? </h1>
        <p>
            Join thousands of growing Funk Fans just like you who love more news and updates!
        </p>
    </div>
    <div class="newsletter-submit w-full "> 
        <BsForm class="d-inline-flex p-2 " @formLayout="vertical" @model={{this}} as |form| > 
            <form.element class="p-2 w-full" @controlType="email" @placeholder="Email" @property="email" @required={{true}} /> 
            <div class="p-2 w-full ">
                <BsButton @block={{true}}>
                    Submit
                </BsButton>
            </div>
        </BsForm>
    </div>
</section> 
