<div class="media-page">
    <div class="media">
        <div> 
            <article>
                <a>
                    <figure>
                        <img/>
                    </figure>
                </a>
                <header>
                    <a>
                        <div>video</div>
                        <h2></h2>
                    </a>
                </header>
            </article>
        </div>
    </div>
</div>